<html>
<head>

</head>
<style>
    li {
    }
</style>
<body>
<h1>To Do App</h1>
<form action="{% url 'todoapp:add' %}" method="post">  <!-- action gets the add function from the todoapp-->
    {% csrf_token %}
    <input type="text" name="todo_text"/>       <!--name should match the todoapp:add view-->
    <button type="submit">Submit</button>       <!--*-->
</form>

<ul>
    {% for todo_item in todo_items %}
    <li>
        <form action="{% url 'todoapp:complete' %}" method="post">
            {{ todo_item.todo_text }}
            {% csrf_token %}
            <input type="hidden" name="todo_item_id" value="{{ todo_item.id }}"/>
            <button type="submit">Complete</button>
        </form>
    </li>
    {% endfor %}
</ul>

<ul style="text-decoration:line-through">
    {% for todo_item in todo_completed %}
    <li>{{ todo_item.todo_text }}</li>
    {% endfor %}
</ul>
</body>
</html>