<h1>Dictionary AJAX</h1>
<hr/>
<ul id="dictionary_words"></ul>
<script>
    function http_get(url, success) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState === 4 && this.status === 200) {
                var data = JSON.parse(xhttp.responseText);
                success(data);
            }
        };
        xhttp.open("GET", url);
        xhttp.send();
    }

    function http_post(url, data, success) {
        var csrf_token = Cookies.get('csrftoken');
        console.log(csrf_token);
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                success(xhttp.responseText);
            }
        };
        xhttp.open("POST", url);
        xhttp.setRequestHeader("Content-Type", "application/json");
        xhttp.setRequestHeader('X-CSRFToken', csrf_token);
        xhttp.send(JSON.stringify(data));
    }

    http_get("{% url 'dictionaryajax:getwords' %}", function(data){
        console.log(data);
        var dictionary_words = document.getElementById('dictionary_words');
        for(var i=0; i<data.words.length; ++i) {
            var li = document.createElement('li');
            li.innerHTML = data.words[i];
            dictionary_words.appendChild(li);
        }

    });


</script>