


<!-- XMLHttpRequest example -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.min.js"></script>

<script>
    function http_get(url, success) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState === 4 && this.status === 200) {
                var data = JSON.parse(xhttp.responseText);
                success(data);
            }
        };
        xhttp.open("GET", url);
        xhttp.send();
    }


    //http_get("localhost:8000/getdata", funct...
    http_get("{% url 'ajaxdemo:getdata' %}", function(data) {
        console.log(data);
    });




    function http_post(url, data, success) {
        var csrf_token = Cookies.get('csrftoken');
        console.log(csrf_token);
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState === 4 && this.status === 200) {
                success(xhttp.responseText);
            }
        };
        xhttp.open("POST", url);
        xhttp.setRequestHeader("Content-Type", "application/json");
        xhttp.setRequestHeader('X-CSRFToken', csrf_token);
        xhttp.send(JSON.stringify(data));
    }


    data = {name:"John Rambo", time:"2pm"};
    http_post("{% url 'ajaxdemo:postdata' %}", data, function(response) {
        console.log(response);
    });

</script>



<!-- jQuery example -->

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

<script>

    $.ajax({
        method: "GET",
        url: "{% url 'ajaxdemo:getdata' %}"
    }).done(function(data) {
        console.log('jQuery');
        console.log(data);
    }).fail(function() {
        alert("error");
    });



    data = {name:"John Rambo", time:"2pm"};
    $.ajax({
        method: "POST",
        url: "{% url 'ajaxdemo:postdata' %}",
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        data: JSON.stringify(data)
    }).done(function(response_data, status, jqXHR) {
        console.log('jQuery');
        console.log(response_data);
    }).fail(function(xhr, status, error) {
        alert('error');
    });


</script>