<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brain Ex | Profile</title>
</head>
<body>
<pre>
    <h1>Profile Page</h1>
    <h3>Welcome {user}</h3>
    <a>Username</a>
    <a>Password Change</a>
    <a>FirstName</a>
    <a>LastName</a>
    <a>Email</a>
</pre>

    <h3>Learned Skill</h3>
    <ul>
        <li>Learned Skill 1</li>
        <li>Learned Skill 2</li>
        <li>Learned Skill 3</li>
    </ul>
    <h3>Teach Skills</h3>
    <ul>
        <li>Teach Skill 1</li>
        <li>Teach Skill 2</li>
        <li>Teach Skill 3</li>
    </ul>
    <button type="submit">submit</button><button>edit</button>
</body>
</html>